<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>

  <!-- Top Menu -->
  <header>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    {{ content }}
  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      <ul>
        <li><a href="mailto:khushbookhullar@gmail.com">Email</a></li>
        <li><a href="https://github.com/khushbookhullar">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/dr-khushboo-khullar-38251b43/">LinkedIn</a></li>
      </ul>
    </div>
  </footer>

</body>
</html>